@model ClinicManagement.Models.DoctorDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>

    <button float="left" type="button" class="btn btn-light"><a href="https://localhost:44394/DoctorDetails/Index">Back</a></button>
</p>


<div>
    <h3> @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)'s Details</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecializationRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecializationRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experiance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experiance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DoctorID">Edit</a> |
  
</div>
